/* Port of TextMate's Blackboard theme */

.cm-s-blackboard.CodeMirror { background: #0C1021; color: #F8F8F8; }
.cm-s-blackboard div.CodeMirror-selected { background: #253B76; }
.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-gutters { background: #0C1021; border-right: 0; }
.cm-s-blackboard .CodeMirror-guttermarker { color: #FBDE2D; }
.cm-s-blackboard .CodeMirror-guttermarker-subtle { color: #888; }
.cm-s-blackboard .CodeMirror-linenumber { color: #888; }
.cm-s-blackboard .CodeMirror-cursor { border-left: 1px solid #A7A7A7; }

.cm-s-blackboard .cm-keyword { color: #FBDE2D; }
.cm-s-blackboard .cm-atom { color: #D8FA3C; }
.cm-s-blackboard .cm-number { color: #D8FA3C; }
.cm-s-blackboard .cm-def { color: #8DA6CE; }
.cm-s-blackboard .cm-variable { color: #FF6400; }
.cm-s-blackboard .cm-operator { color: #FBDE2D; }
.cm-s-blackboard .cm-comment { color: #AEAEAE; }
.cm-s-blackboard .cm-string { color: #61CE3C; }
.cm-s-blackboard .cm-string-2 { color: #61CE3C; }
.cm-s-blackboard .cm-meta { color: #D8FA3C; }
.cm-s-blackboard .cm-builtin { color: #8DA6CE; }
.cm-s-blackboard .cm-tag { color: #8DA6CE; }
.cm-s-blackboard .cm-attribute { color: #8DA6CE; }
.cm-s-blackboard .cm-header { color: #FF6400; }
.cm-s-blackboard .cm-hr { color: #AEAEAE; }
.cm-s-blackboard .cm-link { color: #8DA6CE; }
.cm-s-blackboard .cm-error { background: #9D1E15; color: #F8F8F8; }

.cm-s-blackboard .CodeMirror-activeline-background { background: #3C3636; }
.cm-s-blackboard .CodeMirror-matchingbracket { outline:1px solid grey;color:white !important; }

/*  */
.wedocs-single-wrap .wedocs-single-content article .entry-content .graphiql-container pre {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
}
.graphiql-container .topBar{
    height: auto;
}

.graphiql-wrapper .graphiql-container .docExplorerShow{
    
    color: #fff;
}

.graphiql-container .docExplorerShow:before{
    border-color:#fff;
}
.graphiql-container .doc-explorer-title-bar, .graphiql-container .history-title-bar{
    padding-bottom: 0;
}

.graphiql-wrapper.without-docs .graphiql-container .docExplorerShow,
.graphiql-wrapper.without-docs .graphiql-container .docExplorerWrap{
    display: none!important;
}

.graphiql-wrapper .graphiql-container .topBar .title {
    display: block;
}

.graphiql-wrapper .graphiql-container .topBar .execute-button-wrap {
    margin-left: 0;
}

.graphiql-wrapper .graphiql-container .history-title{
    padding-bottom: 18px;
}

.graphiql-wrapper .graphiql-container .input {
    color: #fff;
}

.graphiql-wrapper .graphiql-container .topBar {
   
}

.graphiql-wrapper .graphiql-container .execute-button{
    -webkit-box-shadow: 0 1px 0 #444444;
    box-shadow: 0 1px 0 #444444;
}

.graphiql-wrapper .graphiql-container .toolbar-button{
    display: none;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.20), 0 1px 0 #555, inset 0 1px #444;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.20), 0 1px 0 #555, inset 0 1px #444;
}

.graphiql-wrapper .graphiql-container .editorBar {
    border: 1px solid #ddd;
    border-top: 0;
}

.graphiql-wrapper {
    margin: 20px auto;
    z-index: 0;
    position: relative;
}
